body{
    margin: 0px;
    font: sans-serif;
    text-rendering: optimizeLegibility;
}


.header{
    display: flex;
    justify-content: center;
}
.division{
    margin-top: 10px;
    border: 1px solid rgb(81, 229, 255);
    outline: none;
    display: flex;
    font-family: sans-serif;
}

.title{
    font-size: 3.5vw;
    color: rgb(85, 88, 88);
    
    font-family: sans-serif;
}


.manager{
    display: flex;
    justify-content: center;

}
.image{
    width: 40%;
    max-height: 40%;
}

.option{
    height: 65px;

    cursor: pointer;
}

.esquerda{
    cursor: pointer;
    margin-right: 70px;
}

.direita{
    cursor: pointer;
    margin-left: 70px;

}

.imageContent{
    display: flex;
    justify-content: center;
}